body {
    background-color: tan;
    font-family: arial;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    color: saddlebrown;
    padding: 3px;
}

a:link {
    text-decoration: none;
}

ul {
    text-align: left;
}

li {
    margin-bottom: 5px;
}

