body {
    background-color: snow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: slategray;
}


nav {
    text-align: center;
}

nav h1 {
    font-size: 35px;
    margin: -15px;
}

nav a {
    font-size: 28px;
    margin: 5px 2%;
    color: slategray;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: burlywood;
}

a {
    color: slategray;
}



#indexmain {
    display: flex;
    justify-content: center;
}

#nailhero {
    width: 40%;
    margin: 2%;
}


#homeText {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -3%;
    margin-bottom: 2%;
}



/*Services Styling*/
main h2{
    text-align: center;
    margin-top: 3%;
}

table {
    display: flex;
    margin-left: 43%;
    text-align: left;
    margin-bottom: 2%;
}



/*Gallery Styling*/
#gallerymain {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6%;
    text-align: left;
}

#gallerymain section {
    margin-top: 5%;
}

#gallerymain h2 {
    text-align: left;
    font-size: 28px;
}

.slide {
    display: none;
    
}

.slideshow .slide img {
    width: 60%;
    margin-left: 15%;
}




.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*About Styling*/
#aboutmain {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 12%;
    text-align: left;
}

#hanh {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-top: 2%;
    margin-right: 5%;
}

#aboutmain section p {
    margin-right: 5%;
}

#aboutmain section h2 {
    text-align: left;
}



/*form styling*/
#contactmain p {
    text-align: center;
}

form {
    background-color: lightgrey;
    max-width: 50%;
    margin: 50px auto;
    padding: 30px 20px;
}

form div {
    text-align: left;
    margin-bottom: 25px;
}

form div label {
    display: block;
    margin-bottom: 10px;
}

form div input, form div select ,form div textarea {
    padding: 10px;
    display: block;
    width: 95%;
    /*this here helps the select element have consistent widths with the inputs*/
    box-sizing: content-box;
}

#contactmain #submitted {
    display: none;
    background-color: lightgrey;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3%;
}

#contactmain #submitted p {
    padding: 5%;
}

#contactmain #submitted img {
    width: 80%;
    height: 20%;
    margin-left: 10%;
    margin-top: -5%;
    margin-bottom: 3%;
}

#contactmain #submitted button {
    margin-left: 42%;
    font-size: 17px;
    margin-bottom: 3%;
}


/*footer styling*/
footer {
    margin-top: 5%;
    text-align: center;
    background: rgb(232, 230, 230);
    margin: -10px;
    padding: 10px;
}




/*media queries
@media screen and (max-width: 1500px) {
    main {
        position:relative;
    }

    img {
        width: 55%;
    }

}


@media screen and (max-width: 1000px) {
    img {
        height: 60%;
        width: 60%;
    }


    section p {
        font-size: 15px;
    }

    #aboutmain img {
        margin-top: 4%;
        width: 55%;
    }
}

@media screen and (max-width: 500px) {
    header nav a {
        font-size: 16px;
    }

    img {
        height: 60%;
        width: 60%;
    }

}



/*
* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

#homeHeader {
    background-image: url(nails1.png);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}



@media screen and (min-width: 700px) {
    #homeHeader {
    background-position: top;
    }
}
*/