<footer>
    <nav>
       <a href="https://webpages.charlotte.edu/ltran28/">Charlotte Webspace</a> 
       <a href="https://github.com/lindatran27/lindatran27.github.io">Github</a>
       <a href="https://lindatran27.github.io/">Github.io</a>
       <a href="https://www.freecodecamp.org/ltran28">Freecodecamp</a>
       <a href="https://www.codecademy.com/profiles/ltran28">Codeacademy</a>
       <a href="https://www.linkedin.com/in/lindatran27/">LinkedIn</a>
    </nav>

    <p><a href="trandesigns.co/">Tran Designs</a>&copy; 2023</p>
    <a href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
       </a>
       <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
         </a>
       
</footer>