<header>
    <h1>Linda Tran's Lucky Tiger || ITIS 3135</h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
        <a href="tables.html">Tables</a>
        <a href="forms.html">Form</a>
        <a href="website_evaluations.html">Website Evaluations</a>
        <a href="byo_intro.html">BYO Intro</a>
        <a href="calculator.html">Calculator Try</a>
        <a href="calculatorfcc.html">Calculator FCC</a>
        <a href="arrays.html">Arrays</a>
        <a href="interactiveDrawing.html">Interactive Drawing</a>
        <a href="slideshow.html">Slideshow</a>
        <section>
            <a href="stuff/CR  💩PPY.html">CRAPPY</a>
            <a href="project_1.html">Project 1</a>
            <a href="review1.html">Review 1</a>
            <a href="review2.html">Review 2</a>
            <a href="firstscripts.html">First Scripts</a>
            <a href="hobby/hobby.html">Midterm</a>
            <a href="projects/index.html">Client Project</a>
            <a href="Activity14/Tran-Activity14.html">Activity 14</a>
        </section>
    </nav>
</header>